<div class="main-header">
  <div class="logo"></div>

  <nav class="desktop-nav">
    <ul class="desktop-nav__list">
      <li class="desktop-nav__list-item">
        <span class="bold">00</span><span>HOME</span>
      </li>
      <li class="desktop-nav__list-item">
        <span class="bold">01</span><span>DESTINATION</span>
      </li>
      <li class="desktop-nav__list-item">
        <span class="bold">02</span><span>CREW</span>
      </li>
      <li class="desktop-nav__list-item">
        <span class="bold">03</span><span>TECHNOLOGY</span>
      </li>
    </ul>
  </nav>

  <div class="toggle-btn"></div>
</div>

<app-mobile-nav></app-mobile-nav>
