<main>
  <div class="overview">
    <div class="title">
      <span class="num">01</span>
      <span class="content">Pick your destination</span>
    </div>

    <ul class="celestial-bodies">
      <li class="celestial-body">
        <img
          width="445"
          height="445"
          ngSrc="./../../assets/background/dest/image-moon.webp"
          alt
          priority
        />
      </li>
    </ul>
  </div>

  <div class="main-content">
    <ul class="nav-list">
      <li class="nav-list__item active">MOON</li>
      <li class="nav-list__item">MARS</li>
      <li class="nav-list__item">EUROPA</li>
      <li class="nav-list__item">TITAN</li>
    </ul>

    <h2 class="content-title">MOON</h2>

    <p class="content-text">
      See our planet as you’ve never seen it before. A perfect relaxing trip
      away to help regain perspective and come back refreshed. While you’re
      there, take in some history by visiting the Luna 2 and Apollo 11 landing
      sites.
    </p>

    <div class="line"></div>

    <div class="units">
      <div class="unit-container">
        <div class="unit-title">AVG. DISTANCE</div>
        <div class="unit distance">384,400 km</div>
      </div>

      <div class="unit-container">
        <div class="unit-title">Est. travel time</div>
        <div class="unit time">3 days</div>
      </div>
    </div>
  </div>
</main>
