<main #main>
  <div class="dest">
    <div class="overview">
      <div class="title">
        <span class="num">01</span>
        <span class="content">Pick your destination</span>
      </div>

      <div class="celestial-container">
        <ul
          class="celestial-bodies"
          attr.style="transform: rotateZ({{ deg }}deg)"
        >
          <li
            class="celestial-body"
            [style.transform]="
              deg == '0' ? 'scale(1) rotateZ(0deg)' : 'scale(0.3) rotateZ(0deg)'
            "
            [style.opacity]="deg == '0' ? '1' : '0'"
          >
            <img
              width="445"
              height="445"
              ngSrc="./../../assets/background/dest/image-moon.webp"
              alt
              priority
            />
          </li>
          <li
            class="celestial-body"
            [style.transform]="
              deg == '90'
                ? 'scale(1) rotateZ(-90deg)'
                : 'scale(0.3) rotateZ(-90deg)'
            "
            [style.opacity]="deg == '90' ? '1' : '0'"
          >
            <img
              width="445"
              height="445"
              ngSrc="./../../assets/background/dest/image-mars.webp"
              alt
              priority
            />
          </li>
          <li
            class="celestial-body"
            [style.transform]="
              deg == '180'
                ? 'scale(1) rotateZ(-180deg)'
                : 'scale(0.3) rotateZ(-180deg)'
            "
            [style.opacity]="deg == '180' ? '1' : '0'"
          >
            <img
              width="445"
              height="445"
              ngSrc="./../../assets/background/dest/image-europa.webp"
              alt
              priority
            />
          </li>
          <li
            class="celestial-body"
            [style.transform]="
              deg == '270'
                ? 'scale(1) rotateZ(-270deg)'
                : 'scale(0.3) rotateZ(-270deg)'
            "
            [style.opacity]="deg == '270' ? '1' : '0'"
          >
            <img
              width="445"
              height="445"
              ngSrc="./../../assets/background/dest/image-titan.webp"
              alt
              priority
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <ul class="nav-list">
        <li
          class="nav-list__item"
          routerLink="/destination/moon"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          MOON
        </li>
        <li
          class="nav-list__item"
          routerLink="/destination/mars"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          MARS
        </li>
        <li
          class="nav-list__item"
          routerLink="/destination/europa"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          EUROPA
        </li>
        <li
          class="nav-list__item"
          routerLink="/destination/titan"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          TITAN
        </li>
      </ul>

      <h2 class="content-title">
        <span *ngFor="let letter of name">{{ letter }}</span>
      </h2>

      <p class="content-text">
        {{ about }}
      </p>

      <div class="line"></div>

      <div class="units">
        <div class="unit-container">
          <div class="unit-title">AVG. DISTANCE</div>
          <div class="unit distance">
            <span *ngFor="let letter of distance">{{ letter }}</span>
          </div>
        </div>

        <div class="unit-container">
          <div class="unit-title">Est. travel time</div>
          <div class="unit time">
            <span *ngFor="let letter of time">{{ letter }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
