<ul class="mobile-nav__list">
  <li
    class="mobile-nav__list-item"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span class="bold">00</span><span>HOME</span>
  </li>
  <li
    class="mobile-nav__list-item"
    routerLink="/destination"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span class="bold">01</span><span>DESTINATION</span>
  </li>
  <li
    class="mobile-nav__list-item"
    routerLink="/crew"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span class="bold">02</span><span>CREW</span>
  </li>
  <li
    class="mobile-nav__list-item"
    routerLink="/tech"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span class="bold">03</span><span>TECHNOLOGY</span>
  </li>
</ul>
